body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-stutio {
  color: #2e2f42;
}
.nav a {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
}
.nav-studio:hover,
.nav-studio:focus,
.nav-portfolio:hover,
.nav-portfolio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: #404bbf;
}
.nav-studio:active {
  color: #404bbf;
}
.contacts a {
  color: #434455;
  line-height: 1.5;
  font-style: normal;
}
.tel:hover,
.tel:focus,
.mail:hover,
.mail:focus {
  color: #404bbf;
}

.box-title {
  background-color: #2e2f42;
}
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.button-title {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  line-height: 1.5;
}
.button-title:hover,
.button-title:focus {
  background: #404bbf;
}
.title-benefits {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
.text-benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background: #f4f4fd;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}
footer {
  background-color: #2e2f42;
}
footer p {
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-stutio-footer {
  color: #f4f4fd;
}
